<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxyBuilderSettings" type="Jolt.Testing.CodeGeneration.ProxyAssemblyBuilderSettings, Jolt.Testing" />
  </configSections>
  
  <proxyBuilderSettings emitMethods="true" emitProperties="false" emitEvents="false" emitStatics="true" emitXmlDocComments="true"/>
</configuration>